<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #dailyForm="ngForm">

            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="date">Date</label>
                        <input type="date" [(ngModel)]="dailyEntry.date" class="form-control" id="date" name="date"
                            placeholder="Enter the date" required #date="ngModel">
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="form-group mb-3 col">
                    <label for="Weight">Weight</label>
                    <input type="number" [(ngModel)]="dailyEntry.weight" class="form-control" id="weight" name="weight"
                        placeholder="Enter your weight" required #weight="ngModel">
                </div>
                <div class="form-group mb-3 col">
                    <label for="anxiety">Anxiety</label>
                    <select class="form-select" id="anxiety" name="anxiety" [(ngModel)]="dailyEntry.anxiety">
                        <option selected disabled value="NULL">Rate your anxiety</option>
                        <option value="ZERO">None</option>
                        <option value="TWO">Mild</option>
                        <option value="FOUR">Mild-Moderate</option>
                        <option value="SIX">Moderate</option>
                        <option value="EIGHT">Moderate-Severe</option>
                        <option value="TEN">Severe</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3 col">
                    <label for="bloating">Bloating</label>
                    <div>Rating: {{dailyEntry.bloating}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.bloating" class="form-range" min="0" max="10" id="bloating"
                        name="bloating" required #bloating="ngModel">
                </div>
                <div class="form-group mb-3 col">
                    <label for="cramps">Cramps</label>
                    <div>Rating: {{dailyEntry.cramps}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.cramps" class="form-range" min="0" max="10" id="cramps"
                        name="cramps" required #cramps="ngModel">
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3 col">
                    <label for="headache">Headache</label>
                    <div>Rating: {{dailyEntry.headache}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.headache" class="form-range" min="0" max="10" id="headache"
                        name="headache" required #headache="ngModel">
                </div>
                <div class="form-group mb-3 col">
                    <label for="irritability">Irritability</label>
                    <div>Rating: {{dailyEntry.irritability}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.irritability" class="form-range" min="0" max="10"
                        id="irritability" name="irritability" required #irritability="ngModel">
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3 col">
                    <label for="energy">Energy</label>
                    <div>Rating: {{dailyEntry.energy}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.energy" class="form-range" min="0" max="10" id="energy"
                        name="energy" required #energy="ngModel">
                </div>
                <div class="form-group mb-3 col">
                    <label for="mood">Mood</label>
                    <div>Rating: {{dailyEntry.mood}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.mood" class="form-range" min="0" max="10" id="mood"
                        name="mood" required #mood="ngModel">
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3 col">
                    <label for="breast_tenderness">Breast tenderness</label>
                    <div>Rating: {{dailyEntry.breast_tenderness}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.breast_tenderness" class="form-range" min="0" max="10"
                        id="breast_tenderness" name="breast_tenderness" required #breast_tenderness="ngModel">
                </div>
                <div class="form-group mb-3 col">
                    <label for="appetite">Appetite</label>
                    <div>Rating: {{dailyEntry.appetite}}/10</div>
                    <input type="range" [(ngModel)]="dailyEntry.appetite" class="form-range" min="0" max="10" id="appetite"
                        name="appetite" required #appetite="ngModel">
                </div>
            </div>


            <div class="form-group mb-3">
                <label for="comments">Comments</label>
                <input type="text" [(ngModel)]="dailyEntry.comments" class="form-control" id="comments" name="comments"
                    placeholder="Add comments" required #comments="ngModel">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>