<div class="card-header">
    <h3>Cycle Information</h3>
</div>
<div>
    <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>Day</td>
            <td>{{day}}</td>
          </tr>
          <tr>
            <td>Phase</td>
            <td>{{phase}}</td>
          </tr>
          <tr>
            <td>Recommended Exercise</td>
            <td>{{exercise}}</td>
          </tr>
          <tr>
            <td>Recommended Nutrition</td>
            <td>{{nutrition}}</td>
          </tr>
          <tr>
            <td>Recommended Fasting Period</td>
            <td>{{fast}} Hours</td>
          </tr>
        </tbody>
      </table>
</div>